langchain==0.1.14
langchain_community==0.0.31
langchain_core==0.1.40
python-dotenv==1.0.1
pandas==1.5.3
langchain-text-splitters==0.0.1
sentence-transformers==2.6.1
chromadb==0.4.22
huggingface-hub==0.22.2
